body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    display: block;
    margin-bottom: 10px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: skyblue;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    transition: 0.5s;
}

button:hover {
    background-color: darkblue;
    color: white;
}
